<!DOCTYPE kpartgui>
<kpartgui name="ksimus" version="0.1">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="file_new_window"/>
  </Menu>
  <Menu name="edit"><text>&amp;Edit</text>
    <Action name="edit_insert_module"/>
  </Menu>
  <Menu name="execute"><text>E&amp;xecute</text>
    <Action name="execute_reset"/>
    <Action name="execute_start"/>
    <Action name="execute_stop"/>
    <Action name="execute_pause"/>
    <Action name="test_action"/>
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
    <Action name="view_toggle_log"/>
    <Action name="view_toggle_tree"/>
    <Action name="view_tree_fold"/>
    <Action name="view_tree_unfold"/>
    <Action name="view_toggle_costmap"/>
    <Separator/>
    <Action name="setting_timing"/>
    <Action name="setting_grid"/>
    <Action name="setting_packageFiles"/>
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar" position="left">
  <Separator/>
  <Action name="execute_start"/>
  <Action name="execute_stop"/>
</ToolBar>
</kpartgui>
